<article class="page vacations-page">
	<header>
		<div class="top-background">
			<div class="left-element"><%=getString("App.Name")%></div>
			<div class="center-element"></div>
			<button class="logout command" title='<%=getString("Page.Common.LogoffButtonHint")%>' id="logout"><%=getString("Page.Common.LogoffButtonText")%></button>
		</div>
	</header>
	<section role="main">
		<header>
			<nav>
				<ul>
					<li class="active">
						<a href="javascript:void(0);"><%=getString("Page.VacationList.VacationRequestsTab")%></a>
					</li>
					<li>
						<a href="javascript:void(0);"><%=getString("Page.VacationList.VacationBalanceTab")%></a>
					</li>
				</ul>
			</nav>
		</header>
		<section class="filter">
		</section>
		<section class="vacation-list">
		</section>
		<section class="paging">
		</section>
	</section>
</article>