<h2>
	<%= vacationTypeName %> by <%= employeeName %> from <%=planned_start_date%> to <%=planned_end_date%>
</h2>
<form>
	<label>
		<input name="confirmed" checked type="checkbox" />
		<span id="confirm-error-holder" class="hint--error hint--bottom" data-hint='<%=getString("Page.Vacation.Fields.SubmitConfirmation.ValidationMessage")%>'>&nbsp;</span>
		<%=getString("Page.Vacation.Fields.SubmitConfirmation")%>
	</label>

	<ul class="actions">
		<li><button class="command cancel"><%=getString("Buttons.CancelText")%></button></li>
		<li><button class="command save"><%=getString("Buttons.OkText")%></button></li>
	</ul>
</form>