<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="DataEndpointUrl" value="http://localhost:3000/project/" />
		<add key="TemplateProject.Name" value="MikaTemplate" />
		<add key="TemplateProject.Guid" value="0836114f-8c6a-40fe-a04f-50a1b007ec02" />
		<add key="TemplateProject.DisplayName" value="MikaTemplate_DisplayName" />
		<add key="TemplateProject.Description" value="MikaTemplate_Description" />
	</appSettings>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WebHttpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="HttpStreaming" maxReceivedMessageSize="67108864" transferMode="Streamed" />
			</webHttpBinding>
		</bindings>
		<services>
			<service name="Mikapp.BuilderService.BuildService">
				<endpoint address="http://localhost:3333/" behaviorConfiguration="WebHttpBehavior" binding="webHttpBinding" bindingConfiguration="HttpStreaming" contract="Mikapp.BuilderService.IBuildService" name="HttpStreaming" />
			</service>
		</services>
	</system.serviceModel>
</configuration>